<html>
 <head>
  <title>
   SkillMingle
  </title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="index.css">
  <style>
  
  </style>
 </head>
 <body>
  <div class="navbar">
   <div class="logo">
    <img alt="SkillMingle Logo" height="78" src="https://github.com/Simron-Paul123/SkillMingle/blob/main/pictures/Logo/png/logo-no-background1.png?raw=true" width="75"/>
   </div>
   <div class="nav-links">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Resources</a>
    <a href="#">Login</a>
   </div>
   <div class="cta-buttons">
    <a class="hire-talent" href="#">
     Hire Talent
    </a>
    <a class="find-job" href="#">
     Find a Job
    </a>
   </div>
  </div>
  <div class="hero">
   <h1>
    Hire Smarter &amp; Scale Faster
   </h1>
   <div class="content">
    <div class="text">
     <p>
      SkillMingle connects the most extraordinary go-to-market talent with the most innovative companies in the world.
     </p>
     <div class="buttons">
      <a class="hire-talent" href="#">
       Hire Talent
      </a>
      <a class="whats-connect" href="#">
       What's Connect?
      </a>
     </div>
     <div class="login">
      Already on Connect?
      <a href="#">
       Log In
      </a>
     </div>
    </div>
    <div class="video">
     <img alt="Video thumbnail showing network of people connected" height="400" src="recruitment-ideas-cover.jpg" width="600"/>
    </div>
   </div>
  </div>
 </body>
</html>